<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Project Dashboard</title>
</head>
<body class="center">
    <a href="/logout" class="back">logout</a>
    <h1>Current Projects:</h1>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Date Due</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in all_projects %}
            {% if project["date_completed"] == None %}
            <tr>
                <td>{{project["name"]}}</td>
                <td>{{project["date_due"]}}</td>
                <td>
                    <a href="/show/{{project['id']}}">details</a>|
                    <a href="/destroy/{{project['id']}}">delete task</a>|
                    <a href="/update/{{project['id']}}">complete task</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a href="/add"><button class="add">Add Project</button></a>
    <h1>Completed Projects:</h1>
    <table>
        <thead>
            <tr>
                <th>Project Name</th>
                <th>Date Due</th>
                <th>Date Completed</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in all_projects %}
            {% if project["date_completed"] %}
            <tr>
                <td>{{project["name"]}}</td>
                <td>{{project["date_due"]}}</td>
                <td>{{project["date_completed"]}}</td>
                <td>
                    <a href="/show/{{project['id']}}">details</a>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
    </table>
</body>
</html>