<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Projects</title>
</head>
<body>
    <div class="block">
        <h1>Register:</h1>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == "reg" %}
                {{message}}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form action="/reg" method="post">
            <p class="inputline">
                <label>First Name:</label>
                <input type="text" name="first_name">
            </p>
            <p class="inputline">
                <label>Last Name:</label>
                <input type="text" name="last_name">
            </p>
            <p class="inputline">
                <label>Email:</label>
                <input type="text" name="email">
            </p>
            <p class="inputline">
                <label>Birthdate:</label>
                <input type="date" name="birth_date">
            </p>
            <p class="inputline">
                <label>Password:</label>
                <input type="password" name="password">
            </p>
            <p class="note inputline"><label></label> password must be 8<br>characters or longer</p>
            <p class="inputline">
                <label>Confirm Password:</label>
                <input type="password" name="confirm_password">
            </p>
            <input type="submit" value="Register" class="submit">
        </form>
    </div>
    <div class="block">
        <h1>Login:</h1>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            {% if category == "log" %}
                {{message}}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
        <form action="/log" method="post">
            <p class="inputline">
                <label>Email:</label>
                <input type="text" name="email">
            </p>
            <p class="inputline">
                <label>Password:</label>
                <input type="password" name="password">
            </p>
            <input type="submit" value="Login" class="submit">
        </form>
    </div>
</body>
</html>